* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  /* border: border-box; */
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navlogo {
  height: 50px;
  width: 135px;
}
.logo {
  background-image: url("./whitelogo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}
/* box 2 */
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 23px;
}
.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}
.nav-icon {
  display: flex;
  align-items: center;
}

/* box3 */

.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: darkorange;
  height: 40px;
  width: 700px;
  border-radius: 5px;
}
.nav-search:hover {
  border: 2px solid orange;
}
.search-select {
  width: 50px;
  text-align: center;
  background-color: #e6e6e6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.search-input {
  width: 100%;
  border: none;
  font-size: 1rem;
}
.icon-search {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  color: #0f1111;
}
/* box4 */
span {
  font-size: 0.7rem;
}
.nav-sec {
  font-size: 0.85rem;
  font-weight: 700;
}

.nav-cart i {
  font-size: 27px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/* panel */
.panel {
  height: 39px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel-ops p {
  display: inline;
  font-size: 14px;
  margin-left: 10px;
}
.panel-ops {
  width: 90%;
}
.panel-ops p:hover {
  border: 2px solid white;
}

.hero-section {
  background-image: url("./hero section.jpg");
  background-size: cover;
  height: 350px;
}
/* shoping section */
.shop-section {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 192, 203, 0.419);
  
}
.box {
  height: 400px;
  width: 23%;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px 0px 15px;
}
.box-img {
  background-size: cover;
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p {
  color: #2162a1;
}

/* footer */
footer {
  margin-top: 10px;
}
.footer-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}
.footer-panel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  margin-top: 20px;
}
ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}

.footer-panel3 {
  background-color: #222f3d;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Flogo {
  background-image: url("./whitelogo.png");
  background-size: cover;
  height: 50px;
  width: 150px;
}
.footer-panel4 {
  background-color: #0f1111;
  color: white;
  height: 70px;
}
.pages {
  padding-top: 20px;
  font-size: 0.7rem;
  text-align: center;
}
.copyright {
  padding-top: 5px;
  font-size: 0.7rem;
  text-align: center;
}